PORT=3000
SERVICE_NAME=event-service
MONGO_URI=
JWT_SECRET=

NOTIFICATION_SERVICE_URL=http://api-gateway:80/api/notifications
TICKET_SERVICE_URL=http://api-gateway:80
EMAIL_LOGO_URL=https://dummyimage.com/180x44/ffffff/111827.png&text=Event+Management

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

